name: Build

on:
  release:
    types: [published]

# grant the GITHUB_TOKEN permission to upload release assets
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
    
      - uses: JasonEtco/upload-to-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: ./dist/youtube-video-card.js text/javascript
